body {
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: url('../img/bg_main.png') no-repeat center center;
    background-size: cover;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-card {
    background: rgba(245, 241, 241, 0.75);
    border-radius: 25px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    overflow: hidden;
    max-width: 900px;
    width: 100%;
    min-height: 500px;
}
.login-form {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-form h3 {
    margin-bottom: 30px;
    font-weight: bold;
}
.form-control {
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: none;
}
.form-control:focus {
    border-color: #007bff;
    box-shadow: none;
}
.btn-gradient {
    background: linear-gradient(to right, #188aed, #00f2fe);
    border: none;
    color: white;
    font-weight: bold;
}
.login-image {
    flex: 1;
    background: url('../img/bg_login.png') no-repeat center center;
    background-size: 103% 105%;
    display: none;
}
@media (min-width: 768px) {
    .login-image {
        display: block;
    }
}
.text-end a {
    font-size: 0.9em;
}