.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 18px;
    vertical-align: middle;
    margin: 15%;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    transition: .3s;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
}

.slider:before {
    transition: .3s;
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: rgb(249, 248, 248);
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #23a541;
}

input:checked + .slider:before {
    transform: translateX(16px);
}